<div class="container">
  <h2><%= @talent.peseudo %></h2>
  <div class="talent-infos-recap">
    <p><%= @talent.working_area %></p>
    <p><%= @talent.talent_type %></p>
  </div>
</div>

<div class="parent">
  <div class="div1">
    <img src="https://images.unsplash.com/photo-1659669336385-a68e22cba1da?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  </div>
  <div class="div2">
    <img src="https://images.unsplash.com/photo-1470020618177-f49a96241ae7?q=80&w=2788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
   </div>
  <div class="div3">
    <img src="https://images.unsplash.com/photo-1630380777896-5f24789dc5fa?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  </div>
  <div class="div4">
    <img src="https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?q=80&w=2304&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  </div>
  <div class="div5">
   <img src="https://images.unsplash.com/photo-1546603999-24fbcb911bee?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  </div>
</div>

<p>Find me in app/views/talents/show.html.erb</p>
