<footer class="border-top">
  <div class="footer-content d-flex justify-content-between px-4 pt-2">
    <div class="left-content">
      <i class=“fa-solid fa-democrat”></i>
      <p>&copy; 2023 LovelyFreaks</p>
    </div>
    <div class="right-content">
      <a href="https://www.instagram.com/lovely.freaksss/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/danarasta12/louetonchelou" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</footer>
