.tabs-underlined {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

h2 {
  margin: 25px 0;
}

img {
  border-radius: 4px 0 0 4px;
}

.card-review {
    overflow: hidden;
    height: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.card-review p {
  margin-left: 10px;
  margin-bottom: 0px;
  font-style: italic;
}

.tab-content {
  padding-bottom: 30px;
}
