
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $dark-red;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $medium-red;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $light-orange;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $dark-red;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 16px;
}
