
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: $dark-red;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $medium-red;
  font-size: 27px;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $light-orange;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
