$footer-height: 10vh;

.footer-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $medium-red;
  padding: 10px;
  height: $footer-height;
}

body {
  padding-bottom: $footer-height;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content a {
  margin-left: 10px;
  color: $light-orange;
  text-decoration: none;
  font-size: 20px;
}

.right-content a:hover {
  color: $black;
}
