.card-profile {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.card-data {
  margin: 15px 0 0 15px;
  border-bottom: 1.5px solid lightgrey;
  padding-bottom: 15px;
}

.card-data p {
  color: #bcb8b8;
  font-family: "Nunito", "Helvetica", "sans-serif";
  margin: 2px 0 0 5px;
}

.inter-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
