.search-filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

label {
  display: flex;
  flex-direction: column;
}

.talent-filters label {
  text-align: center;
  margin: 0;
  padding-right: 40px;
}

.form-control {
  width: 15%;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 8px;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
}

.btn-primary {
  height: 50%;
  border-radius: 50%;
}

#query {
  height: 50px;
  width: 15%;
  margin-right: 15px;
}

.talent-card {
  margin-bottom: 40px;
}

.talent-list {
  img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.talent-list {
  img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
}

.talent-card {
  .card-body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

.talent-card {
  .card-body:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
}

.talent-list {
  .card {
    border: none;
  }
}

.price-rating {
  justify-content: space-between;
  display: flex;
}

.btn-index {
  border-radius: 50%;
  height: 45px;
  border: none;
}

.curseur {
  cursor: pointer;
  opacity: 0.2;
}

.curseur:hover {
  opacity: 1;
  color: $light-orange;
}

.span-opacity {
  opacity: 0.8;
}

.span-opacity:hover {
  opacity: 1;
}

.fa-magnifying-glass:hover {
  color: $light-orange;
}
